<ion-tabs>
    <ion-tab [root]="tab1Root" tabTitle="Movies" tabIcon="videocam"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="Series" tabIcon="desktop"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="Favs" tabIcon="bookmark"></ion-tab>
    <ion-tab [root]="tab4Root" tabTitle="Cinema" tabIcon="videocam"></ion-tab>
    <ion-tab [root]="tab5Root" tabTitle="Profile" tabIcon="person"></ion-tab>
</ion-tabs>
