
<ion-header>

    <ion-navbar>
        <ion-title *ngIf="!isOpenned">
            Series
        </ion-title>
        <ion-searchbar *ngIf="isOpenned" showCancelButton="true" (ionInput)="onInput($event)" (ionCancel)="isOpenned=false"></ion-searchbar>
        <ion-buttons end>
            <button ion-button icon-only *ngIf="!isOpenned" (click)="openSearchBar();" class="button-open-searchbar">
                <ion-icon name="search"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content class="card-background-page">

    <div id="cardsSeries" *ngIf="this.omdbApi.errorSeries !== 'Series not found!'; else error">
        <ion-grid>
            <ion-row>
                <ion-col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 *ngFor="let serie of seriesData">
                    <ion-card (click)="getDetails(serie.imdbID)">
                        <img src="http://img.omdbapi.com/?apikey=75522b56&i={{serie.imdbID}}" />
                        <div class="card-title"><p>{{serie.Title}}</p></div>
                        <div class="card-subtitle">
                            <p>
                                <span *ngIf="serie.Released !== 'N/A'; else unknownReleaseDate">{{serie.Released}}</span>
                                <br/>&#8213;<br/>
                                <span *ngIf="serie.Plot !== 'N/A'; else noPlotDescribed" class="plot">{{serie.Plot}}</span>
                            </p>
                        </div>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <ng-template #error>
        <div id="error">No results for this !</div>
    </ng-template>

    <ng-template #unknownReleaseDate>
        <span>Unknown realease date</span>
    </ng-template>

    <ng-template #noPlotDescribed>
        <span>No plot described here...</span>
    </ng-template>
</ion-content>
