page-episodes-details {
  .toolbar-title {
    color: #fbbc00;
  }

  .details-button {
    text-align: center;

    &:last-child {
      margin-top: 15px;
    }
  }

  .details-image {
    width: 100%;
    margin: 15px auto 0 auto;

    img {
      width: 100%;
    }
  }

  .details-title {
    margin: 25px 0;
    border-bottom: 1px solid #ffffff;
  }

  .details-released {
    text-align: center;
  }

  .details-item {
    margin-top: 15px;
    border-radius: 15px;
  }

  #no-plot {
    text-align: center;
  }
}
