page-episodes {
  .toolbar-title {
    color: #fbbc00;
  }

  .list-header {
    font-size: 150%;
  }

  .item {
    padding: 0;
    margin: 0;
    border: none;
    background-color: #191919;
  }

  .item-md.activated {
    background-color: #191919;
  }

  .episode-title {
    font-size: 115%;
  }

  .episode-released {
    font-style: italic;
    font-size: 85%;
  }

}
