<!--
  Generated template for the EpisodesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>S{{ season }}. {{ title }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-list-header>
      List of episodes ({{ episodes.length }})
    </ion-list-header>
    <button ion-item *ngFor="let episode of episodes" (click)="goToDetails(episode.imdbID, title)">
      <span class="episode-title">
        {{ episode.Episode }}. {{ episode.Title }}
      </span><br/>
      <span class="episode-released">
        {{ episode.Released }}
      </span>
    </button>
  </ion-list>
</ion-content>
