
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="!isOpenned">
      Movies
    </ion-title>
    <ion-searchbar *ngIf="isOpenned" showCancelButton="true" animated="true" debounce="750" (ionInput)="onInput($event)" (ionCancel)="isOpenned=false"></ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="!isOpenned" (click)="openSearchBar();" class="button-open-searchbar">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="card-background-page">

  <div id="cardsMovies" *ngIf="this.omdbApi.errorMovies !== 'Movies not found!'; else error">
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 *ngFor="let movie of moviesData">
          <ion-card (click)="getDetails(movie.imdbID)" >
            <img src="{{ movie.Poster }}" />
            <div class="card-title"><p>{{movie.Title}}</p></div>
            <div class="card-subtitle">
              <p>
                <span *ngIf="movie.Released !== 'N/A'; else unknownReleaseDate">{{movie.Released}}</span>
                <br/>&#8213;<br/>
                <span *ngIf="movie.Plot !== 'N/A'; else noPlotDescribed" class="plot">{{movie.Plot}}</span>
              </p>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ng-template #error>
    <div id="error">No results for this !</div>
  </ng-template>

  <ng-template #unknownReleaseDate>
    <span>Unknown release date</span>
  </ng-template>

  <ng-template #noPlotDescribed>
    <span>No plot described here...</span>
  </ng-template>
</ion-content>
