page-movies {
  .toolbar-title {
    color: #fbbc00;
  }

  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }

    .card-title {
      position: absolute;
      top: 18%;
      width: 100%;
      font-weight: bold;
      color: #fff;
      padding: 0 20px;

      p {
        color: #ffffff;
        font-size: 1.6em;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 10px;
      }
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
      padding: 0 20px;

      p {
        background-color: rgba(0, 0, 0, 0.8);
        color: #ffffff;
        padding: 10px;
        border-radius: 10px;
      }
    }
  }

  #error {
    padding: 0 20px;
    font-size: 150%;
    font-style: italic;
    margin-top: 80px;
  }
}
