page-favs {
  .toolbar-title {
    color: #fbbc00;
  }

  .segments {
    background-color: #191919;
  }

  ion-segment {
    background-color: #191919;
    z-index: 200;
    position: fixed;
    top: 56px;
    padding-top: 5px;
  }

  .card-background-page {
    margin-top: 60px;

    ion-card {
      position: relative;
      text-align: center;
      margin-bottom: 25px;
    }

    .card-title {
      position: absolute;
      top: 18%;
      width: 100%;
      font-weight: bold;
      color: #fff;
      padding: 0 20px;

      p {
        color: #ffffff;
        font-size: 1.6em;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 10px;
      }
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
      padding: 0 20px;

      p {
        background-color: rgba(0, 0, 0, 0.8);
        color: #ffffff;
        padding: 10px;
        border-radius: 10px;
      }
    }
  }
}
