<!--
  Generated template for the FavsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Favorites</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="importFavorites();">
        <ion-icon name="arrow-round-up"></ion-icon>
      </button>
      <button ion-button icon-only (click)="exportFavorites();">
        <ion-icon name="cloud-download"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <div class="segments">
    <div>
      <ion-segment [(ngModel)]="type">
        <ion-segment-button value="movies">
          Movies <ion-badge>{{nbMovies}}</ion-badge>
        </ion-segment-button>
        <ion-segment-button value="series">
          Series <ion-badge>{{nbSeries}}</ion-badge>
        </ion-segment-button>
        <ion-segment-button value="episodes">
          Episodes <ion-badge>{{nbEpisodes}}</ion-badge>
        </ion-segment-button>
      </ion-segment>
    </div>

    <div [ngSwitch]="type">
      <div *ngSwitchCase="'movies'">
        <div class="card-background-page">
          <ion-grid>
            <ion-row>
              <ion-col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 *ngFor="let item of favorites">
                <ion-card (click)="getDetails(item.imdbID)" *ngIf="item.Type === 'movie'">
                  <img src="{{ item.Poster }}" />
                  <div class="card-title"><p>{{item.Title}}</p></div>
                  <div class="card-subtitle">
                    <p>
                      <span *ngIf="item.Released !== 'N/A'; else unknownReleaseDate">{{item.Released}}</span>
                    </p>
                  </div>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>

      <div *ngSwitchCase="'series'">
        <div class="card-background-page">
          <ion-grid>
            <ion-row>
              <ion-col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 *ngFor="let item of favorites">
                <ion-card (click)="getDetails(item.imdbID)" *ngIf="item.Type === 'series'">
                  <img src="{{ item.Poster }}" />
                  <div class="card-title"><p>{{item.Title}}</p></div>
                  <div class="card-subtitle">
                    <p>
                      <span *ngIf="item.Released !== 'N/A'; else unknownReleaseDate">{{item.Released}}</span>
                    </p>
                  </div>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>

      <div *ngSwitchCase="'episodes'">
        <div class="card-background-page">
          <ion-grid>
            <ion-row>
              <ion-col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 *ngFor="let item of favorites">
                <ion-card (click)="getDetailsEpisode(item.imdbID, item.Serie)" *ngIf="item.Type === 'episode'">
                  <img src="{{ item.Poster }}" />
                  <div class="card-title"><p>{{item.Title}}</p></div>
                  <div class="card-subtitle">
                    <p>
                      <span *ngIf="item.Released !== 'N/A'; else unknownReleaseDate">{{item.Released}}</span>
                    </p>
                  </div>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </div>
  </div>

  <ng-template #unknownReleaseDate>
    <span>Unknown release date</span>
  </ng-template>
</ion-content>
