<!--
  Generated template for the DetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ details.Title }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="isInFavorites === false; else inFavorites" class="details-button">
    <button ion-button round outline (click)="addToFavorites(details.imdbID, details)">
      <ion-icon name="ios-bookmark-outline"></ion-icon>&nbsp;&nbsp;
      Add to favorites
    </button>
  </div>

  <div class="details-title"><h3>{{ details.Title }}</h3></div>
  <div class="details-released">
    <span *ngIf="details.Released !== 'N/A';">
      <strong>
        {{ details.Released }} -
        <span id="rated">
          {{ details.Rated }}
        </span>
      </strong>
    </span>
  </div>
  <div col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 class="details-image">
    <img src="http://img.omdbapi.com/?apikey=75522b56&i={{ id }}" />
  </div>
  <div class="details-button" *ngIf="details.Poster !== 'N/A'">
    <button ion-button round outline (click)="downloadPoster(details.Poster)">
      <ion-icon name="cloud-download"></ion-icon>&nbsp;&nbsp;
      Download poster
    </button>
  </div>
  <div class="card-subtitle details-item">
    <p>
      <span *ngIf="details.Plot !== 'N/A'; else noPlotDescribed"><h4>Plot</h4>{{ details.Plot }}</span>
    </p>
  </div>
  <div class="card-subtitle details-item">
    <p>
      <span *ngIf="details.Runtime !== 'N/A';">
        <h4>{{ details.Type }}</h4>
        <span *ngIf="details.Type === 'series'">Average </span>{{ details.Runtime }} runtime
      </span>
    </p>
  </div>
  <div class="card-subtitle details-item">
    <p>
      <span *ngIf="details.Actors !== 'N/A';"><h4>Actors</h4>{{ details.Actors }}</span>
    </p>
  </div>
  <div class="card-subtitle details-item">
    <p>
      <span *ngIf="details.Awards !== 'N/A';"><h4>Awards</h4>{{ details.Awards }}</span>
    </p>
  </div>
  <div class="card-subtitle details-item">
    <p>
      <ion-icon name="star"></ion-icon> <span>{{ details.imdbRating }} - {{ details.imdbVotes }} votes</span>
    </p>
  </div>

  <ion-list *ngIf="details.Type === 'series'">
    <ion-list-header>
      List of seasons ({{ details.totalSeasons }})
    </ion-list-header>
    <button ion-item
            *ngFor="let season of getArrayForSeasons(details.totalSeasons)"
            (click)="getEpisodes(season, details.Title, details.imdbID);"
    >
      Season {{ season }}
    </button>
  </ion-list>

  <div *ngIf="isInFavorites === false; else inFavorites" class="details-button">
    <button ion-button round outline (click)="addToFavorites(details.imdbID, details)">
      <ion-icon name="ios-bookmark-outline"></ion-icon>&nbsp;&nbsp;
      Add to favorites
    </button>
  </div>

  <ng-template #noPlotDescribed>
    <div id="no-plot">No plot described here...</div>
  </ng-template>

  <ng-template #inFavorites>
    <div class="details-button">
      <button ion-button round (click)="removeFromFavorites(details.imdbID, details.Type)">
        <ion-icon name="ios-bookmark"></ion-icon>&nbsp;&nbsp;
        Remove from favorites
      </button>
    </div>
  </ng-template>

</ion-content>
